@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url('$client/fonts/roboto-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('$client/fonts/roboto-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: Terminal;
  font-style: normal;
  font-weight: normal;
  src: url('$client/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Terminal;
  font-style: normal;
  font-weight: bold;
  src: url('$client/fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Material;
  font-style: normal;
  font-weight: 400;
  src: url('$client/fonts/material-icons.woff2') format('woff2');
}

/* 👉 global styles that are used in the light DOM */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 150%;
  overflow: hidden;
  width: 100%;
}

html {
  border: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
